@page "/Inventario/Add-new";

@inject IcatalogService CatalogService;
@inject IToolsService ToolsService;
@inject IInventoryService InventoryService;
@inject NavigationManager NavigationManager;

@using NovaLaundryAppWebAdminBlazor.ModelsHalia;



<PageTitle>Agregar Nuevo</PageTitle>

<div class="inventory-cnt">
    <h4>Agregar Nuevo Inventario</h4>

    <section>
        <form @onsubmit="AddProduct">
            <select name="productSelect" id="productSelect" @bind="selectedProductId">
                <option value="">Selecciona Productos</option>
                @foreach (var item in products.Where(p => !SelectedItems.Any(si => si[0].ToString() == p[0].ToString())))
                {
                    <option value="@item[0]">@item[1]</option>
                }
            </select>
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <select id="branchSelect" @onchange="HandleSelectionbranchChange">
            <option value="">Seleccciona Sucursal</option>
            @foreach (var Item in BranchItem)
            {
                <option value="@Item[0]">@Item[1]</option>
            }
        </select>
    </section>

    @if (SelectedItems.Count > 0)
    {
        <h5>Productos Seleccionados:</h5>
        <div class="table-container thirdparties-cnt">

            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Cantidad Máxima</th>
                        <th>Cantidad Minima</th>
                        <th>Proveedor</th>
                        <th>Costo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SelectedItems)
                    {
                        <tr>
                            <td>@item[1]</td>
                            <td>
                                <input type="number" @bind="SelectedQuantities[(int)item[0]]" @oninput="((ChangeEventArgs __e) => UpdateQuantity((int)item[0], string.IsNullOrEmpty(__e.Value.ToString()) ? 0 : Convert.ToInt32(__e.Value)))" class="form-control" />
                            </td>
                            <td>
                                <input type="number" @bind="MaxQuantities[(int)item[0]]" @oninput="((ChangeEventArgs __e) => UpdateMaxQuantity((int)item[0], string.IsNullOrEmpty(__e.Value.ToString()) ? 0 : Convert.ToInt32(__e.Value)))" class="form-control" />
                            </td>
                            <td>
                                <input type="number" @bind="MinQuantities[(int)item[0]]" @oninput="((ChangeEventArgs __e) => UpdateMinQuantity((int)item[0], string.IsNullOrEmpty(__e.Value.ToString()) ? 0 : Convert.ToInt32(__e.Value)))" class="form-control" />
                            </td>
                            <td>
                                @{
                                    var itemId = @item[0].ToString();
                                }
                                <select id="provider" @onchange="(e) => HandleSelectionChange(e, itemId)">
                                    <option value="">Selecciona Proveedor</option>
                                    @foreach (var Provider in providers)
                                    {
                                        <option value="@Provider[0]">@Provider[1]</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="number" @bind="ProductCost[(int)item[0]]" @oninput="((ChangeEventArgs __e) => {
                                    decimal value;
                                    if (decimal.TryParse(__e.Value.ToString(), out value))
                                    {
                                        UpdateCost((int)item[0], value);
                                    }
                                })" class="form-control" />                        
                            </td>
                            <td><button class="btn btn-danger" @onclick="() => RemoveProduct(item)">Remover</button></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>@SelectedQuantities.Values.Sum()</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>@ProductCost.Values.Sum()</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else 
    {
        <P>No hay productos seleccionados</P>
    }

    <footer class="footer-inventory">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#CancelarInventario">Cancelar</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#GuardarInventario">Guardar</button>
    </footer>
</div>

<section @onclick="() => showAlert = !showAlert" class="alert-section @showAlert">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <h4 class="alert-heading">Oops Algo Salio Mal...</h4>
        <button type="button" class="btn-close" aria-label="Close"></button>
        <hr>
        <p class="mb-0">Por favor revisa que hayas seleccionado al menos un producto y una sucursal.</p>
    </div>
</section>


<div class="modal fade" id="CancelarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas cancelar la operación?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <NavLink class="nav-link" href="/Inventario">
                        <span aria-hidden="true"></span>Cancelar
                    </NavLink>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="GuardarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Favor de revisar la información antes de guardar.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button @onclick="SaveToInventory" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <span aria-hidden="true"></span>Guardar
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private string filter = "";
    private int selectedProductId;
    private string selectedBranchId;
    private int selectedProviderId;
    private int compraId;
    private bool showAlert = false;
    List<List<object>> dataProducts = new List<List<object>>();
    List<List<object>> dataBranches = new List<List<object>>();
    List<List<object>> dataProviders = new List<List<object>>();
    List<List<object>> products = new List<List<object>>();
    List<List<object>> providers = new List<List<object>>();
    List<List<object>> SelectedItems = new List<List<object>>();
    private Dictionary<int, int> SelectedQuantities { get; set; }
    private Dictionary<int, int> MaxQuantities { get; set; }
    private Dictionary<int, int> MinQuantities { get; set; }
    private Dictionary<int, int> ProductProviders { get; set; }
    private Dictionary<int, decimal> ProductCost { get; set; }
    List<List<object>> BranchItem = new List<List<object>>();


    protected override void OnInitialized()
    {
        SelectedQuantities = new Dictionary<int, int>();
        MaxQuantities = new Dictionary<int, int>();
        MinQuantities = new Dictionary<int, int>();
        
        ProductProviders = new Dictionary<int, int>();
        ProductCost = new Dictionary<int, decimal>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData();
        }

        StateHasChanged();
    }

    private async Task LoadData()
    {
        products.Clear();
        BranchItem.Clear();
        providers.Clear();

        dataProducts = await CatalogService.GetProductAsync(filter);
        dataBranches = await ToolsService.GetBranchesAsync(filter, 1);
        dataProviders = await CatalogService.GetProviderAsync(filter);

        foreach (var Data in dataProducts)
        {
            products.Add(Data);
        }

        foreach (var Data in dataBranches)
        {
            BranchItem.Add(Data);
        }

        foreach (var Data in dataProviders)
        {
            providers.Add(Data);
        }
    }

    private void AddProduct()
    {
        if (!string.IsNullOrEmpty(selectedProductId.ToString()) || selectedProductId != 0)
        {
            var selectedProduct = products.FirstOrDefault(p => p[0].ToString() == selectedProductId.ToString());
            if (selectedProduct != null)
            {
                SelectedItems.Add(selectedProduct);
                SelectedQuantities[(int)selectedProduct[0]] = 1; // default quantity
                
                MaxQuantities[(int)selectedProduct[0]] = 0; // default Max quantity
                MinQuantities[(int)selectedProduct[0]] = 0; // default Min quantity
            
                // Add an entry to the ProductProviders dictionary
                ProductProviders[(int)selectedProduct[0]] = selectedProviderId;
                ProductCost[(int)selectedProduct[0]] = 0;
            }
        }

        selectedProductId = 0;
    }

    private void RemoveProduct(List<object> item)
    {
        SelectedItems.Remove(item);
        SelectedQuantities.Remove((int)item[0]);
        
        MaxQuantities.Remove((int)item[0]);
        MinQuantities.Remove((int)item[0]);

        // Remove the entry from the ProductProviders & the product cost dictionary
        ProductProviders.Remove((int)item[0]);
        ProductCost.Remove((int)item[0]);
    }

    private void UpdateQuantity(int productId, int quantity)
    {
        if (SelectedQuantities.ContainsKey(productId) && quantity > 0)
        {
            SelectedQuantities[productId] = quantity;
        }
    }

    private void UpdateCost(int productId, decimal cost)
    {
        if (ProductCost.ContainsKey(productId) && cost > 0)
        {
            ProductCost[productId] = cost;
        }
    }

    private void UpdateMaxQuantity(int productId, int quantity)
    {
        if (MaxQuantities.ContainsKey(productId) && quantity > 0)
        {
            MaxQuantities[productId] = quantity;
        }
    }

    private void UpdateMinQuantity(int productId, int quantity)
    {
        if (MinQuantities.ContainsKey(productId) && quantity > 0)
        {
            MinQuantities[productId] = quantity;
        }
    }

    private void HandleSelectionbranchChange(ChangeEventArgs e)
    {
        selectedBranchId = e.Value.ToString();
    }

    private void UpdateProviderId(int productId, int newProviderId)
    {
        if (ProductProviders.ContainsKey(productId))
        {
            ProductProviders[productId] = newProviderId;
        }
    }

    private void HandleSelectionChange(ChangeEventArgs e, string productId)
    {
        if (!string.IsNullOrEmpty(e.Value.ToString()))
        {
            selectedProviderId = Convert.ToInt32(e.Value);
            UpdateProviderId(Convert.ToInt32(productId), selectedProviderId);
        }
    }

    private async Task SaveToInventory()
    {
        foreach (var item in SelectedItems)
        {
            var productId = (int)item[0];

            if (SelectedQuantities.ContainsKey(productId) && ProductProviders.ContainsKey(productId) && MaxQuantities.ContainsKey(productId) && MinQuantities.ContainsKey(productId) && (selectedBranchId != null && selectedBranchId != ""))
            {
                showAlert = false;

                Compra compra = new Compra
                {
                    TotalProductos = SelectedQuantities.Values.Sum(),
                    TotalCosto = ProductCost.Values.Sum(),
                    DetallesCompra = "Reabastecimiento de Inventario",
                    Fecha = DateTime.Now,
                };

                await InventoryService.AddPurchaseAsync(compra);
                @* Console.WriteLine(compra.ComprasInventarioId); *@
                compraId = compra.ComprasInventarioId;

                InventarioProducto inventory = new InventarioProducto 
                {
                    ProductoId = productId,
                    Cantidad = SelectedQuantities[productId],
                    StockMaximo = MaxQuantities[productId],
                    StockMinimo = MinQuantities[productId],
                    SucursalId = Convert.ToInt32(selectedBranchId),
                    ProveedorId = ProductProviders[productId],
                    Costo = ProductCost[productId],
                    CompraInventarioId = compraId
                };

                await InventoryService.AddInventoryAsync(inventory);

                NavigationManager.NavigateTo("/Inventario");
            }
            else 
            {
                showAlert = true;
            }
        }
    }
}